@font-face {
	font-family: 'TTFirsNeue';
	src: url('../fonts/TTFirsNeue-Bold.eot');
	src: local('☺'), url('../fonts/TTFirsNeue-Bold.woff') format('woff'), url('../fonts/TTFirsNeue-Bold.ttf') format('truetype'), url('../fonts/TTFirsNeue-Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'TTFirsNeue';
	src: url('../fonts/TTFirsNeueDemiBold.eot');
	src: local('☺'), url('../fonts/TTFirsNeueDemiBold.woff') format('woff'), url('../fonts/TTFirsNeueDemiBold.ttf') format('truetype'), url('../fonts/TTFirsNeueDemiBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
